a:link,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

p>a:hover {
    color: rgb(231, 85, 141)!important;
}

body {
    margin: 0;
    background-color: #292828;
    /* Mantém o fundo no lugar! */
    background: url("../imagens/bangalore_to_wayanad-min.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#box {
    background-color: rgba(255, 255, 255, 0.486);
}

#roundbox {
    position: absolute;
    top: 8rem;
    left: 10%;
    box-sizing: border-box;
    width: 80%;
    background: rgba(26, 51, 32, 0.600);
    color: #fff;
    border-radius: 60px 60px 0px 0px;
    z-index: 2;
}

#margem {
    margin: 3rem;
}

p,
li {
    font-size: 17px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    padding-left: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

figure {
    max-width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: black;
    text-decoration: underline;
}

footer {
    position: fixed;
    top: 97.3%;
    left: 35%;
    background-color: rgb(26, 51, 32);
    padding-left: 5px;
    padding-right: 3px;
    z-index: 3;
}

footer>p {
    color: rgba(194, 194, 194, 0.719);
    text-align: center;
    font-weight: 1000;
    font-family: "Courier New";
    font-size: 12px;
}

#roundbox>img {
    width: 42%;
    float: left;
    padding-right: 2rem
}
